.box__nav {
  min-height: 3rem;
  background-color: #f7fafb;
  display: flex;
}

.nav__item {
  display: flex;
  align-items: center;
  font-family: "Rubik", sans-serif;
  padding: 0 1rem;
  text-decoration: none;
  color: #242424;
}

.nav__item_active {
  background-color: #ffffff;
}
