.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 18rem;
}

.notice {
  font-family: "Rubik";
  font-size: 2rem;
  margin-bottom: 1rem;
}

.total {
  font-family: "Rubik";
  font-size: 4rem;
}
