.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 18rem;
  text-align: center;
}

.notice {
  font-family: "Rubik";
  font-size: 2rem;
  margin-bottom: 1rem;
}

.total {
  font-family: "Rubik";
  font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
}
