.list {
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  width: 100%;
  border-collapse: collapse;
}

.list__header {
  text-align: left;
  line-height: 2em;
}

.list__header:last-child {
  text-align: right;
}

.list__no {
  width: 2rem;
}

.list__header:nth-child(2) {
  padding-left: 0.5rem;
}

.list__name {
  width: 100%;
  line-height: 2.25em;
  border-radius: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5rem;
}

.list__username {
  display: inline-block;
  text-decoration: none;
  color: #2b6cb0;
  margin-left: 0.5em;
  cursor: pointer;
}

.list__username:hover {
  text-decoration: underline;
}

.list__no_username {
  margin-left: 0.5em;
  display: inline-block;
  text-decoration: none;
  color: #cbd5e0;
}

.list__score {
  text-align: right;
}

.list__score span {
  display: block;
  white-space: nowrap;
}
